<h3 data-collapser><code>block</code>-y elements</h3>
<div data-collapsible class="blocks">
  <!-- <div class="freespace"></div> -->
  <p><strong>Top Left</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:topleft">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>

  <p><strong>Top</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>

  <p><strong>Top Right</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:topright">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>

  <p><strong>Right</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>

  <p><strong>Bottom Right</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:bottomright">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>

  <p><strong>Bottom</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>
  <p><strong>Bottom Left</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:bottomleft">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>
  <p><strong>Left</strong></p>
  <p
    data-guide="A bottom positioned marker in <%= placement %> placement"
    data-guide-options="marker.position:left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </p>
</div>