<h3 data-collapser>Positioning grid</h3>
<div data-collapsible class="grid">
  <div class="freespace"></div>
  <ul>
    <li>
      <button
        data-guide="A top-left positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:topleft">TOP LEFT
      </button>
    </li>
    <li>
      <button
        data-guide="A top positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:top">TOP
      </button>
    </li>
    <li>
      <button
        data-guide="A top-right positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:topright">TOP RIGHT
      </button>
    </li>
    <li>
      <button
        data-guide="A left positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:left">LEFT
      </button>
    </li>
    <li></li>
    <li>
      <button
        data-guide="A right positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:right">RIGHT
      </button>
    </li>
    <li>
      <button
        data-guide="A bottom-left positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:bottomleft">BOTTOM LEFT
      </button>
    </li>
    <li>
      <button
        data-guide="A bottom positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:bottom">BOTTOM
      </button>
    </li>
    <li>
      <button
        data-guide="A bottom-right positioned guideling in <%= placement %> placement"
        data-guide-options="marker.position:bottomright">BOTTOM RIGHT
      </button>
    </li>
  </ul>
</div>